<h1>Restaurants Info</h1>
<h2><%=@restaurant.name%></h2>
<p>address: <%=@restaurant.address %></p>
<p>phone: <%=@restaurant.phone_number %></p>
<p>category: <%=@restaurant.category %></p>

<%=link_to "Back", restaurants_path %>

<h3>Reviews</h3>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>  <%= review.content %> - <%= "â­" * review.rating %> </li>
  <% end %>
</ul>

<%= link_to "Add a new review", new_restaurant_review_path(@restaurant) %>
